doctype html
| 
| <!--[if lt IE 7]><html lang="en" class="ie6"><![endif]-->
| <!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
| <!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
| <!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
// [if gt IE 9] <!

html(class="", lang="en")

    // <![endif]
    
    head
      title #{title}
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/static/stylesheets/frontend.css')
    body
      .container
        .row
          .col-md-8.col-xs-12.col-md-push-2
            .pagedummy
            .pagewrapper
              #hjem.pagecontent.col-md-12
                img(src='/static/totom/HAtotom_front.jpg')
              #bilder.pagecontent.col-md-12
                img(src='/static/totom/HAtotom_front.jpg')
              #bandet.pagecontent.col-md-12
                img(src='/static/totom/HAtotom_front.jpg')
          .col-md-2.col-md-pull-8.hidden-xs.hidden-sm
            .dummy
              a.menulink.redlink(href='#hjem')
                span.glyphicon.glyphicon-home(aria-hidden='true')
                span
                  | Hjem
          .col-md-2.hidden-xs.hidden-sm
            .dummy
              a.menulink.bluelink(href='#bilder')
                span.glyphicon.glyphicon-camera(aria-hidden='true')
                span
                  | Bilder
          .col-md-2.col-md-pull-8.hidden-xs.hidden-sm
            .dummy
              a.menulink.orangelink(href='#bandet')
                span.glyphicon.glyphicon-music(aria-hidden='true')
                span
                  | Bandet
          .col-md-2.hidden-xs.hidden-sm
            .dummy
              a.menulink.purplelink(href='#linker')
                span.glyphicon.glyphicon-link(aria-hidden='true')
                span
                  | Linker
          .col-md-2.col-md-pull-8.hidden-xs.hidden-sm
            .dummy
              a.menulink.cyanlink(href='#cd')
                span.glyphicon.glyphicon-cd(aria-hidden='true')
                span
                  | Cd
          .col-md-2.hidden-xs.hidden-sm
            .dummy
              a.menulink.greenlink(href='#nyheter')
                span.glyphicon.glyphicon-volume-up(aria-hidden='true')
                span
                  | Nyheter
          .col-md-2.col-md-pull-8.hidden-xs.hidden-sm
            .dummy
              a.menulink.yellowlink(href='#historie')
                span.glyphicon.glyphicon-header(aria-hidden='true')
                span
                  | Historie
          .col-md-2.col-sm-pull-0.hidden-xs.hidden-sm
            .dummy
              a.menulink.pinklink(href='#jubileum')
                span.glyphicon.glyphicon-glass(aria-hidden='true')
                span
                  | Jubileum
      script(type='text/javascript', src='/static/javascript/frontend.js')