doctype html
| 
| <!--[if lt IE 7]><html lang="en" class="ie6"><![endif]-->
| <!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
| <!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
| <!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
// [if gt IE 9] <!

html(class="", lang="en")

    // <![endif]
    
    head
      title #{title}
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/static/stylesheets/frontend.css')
    body
      .container
        .row
          .col-md-8.col-sm-12.col-xs-12.col-md-push-2.col-xs-offset-0
            .dummyb
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.col-md-pull-8.col-sm-pull-0.col-sm-offset-2.hidden-xs
            .dummy
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.hidden-xs
            .dummy
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.col-md-pull-8.col-sm-pull-0.hidden-xs
            .dummy
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.hidden-xs
            .dummy
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.col-md-pull-8.col-sm-pull-0.hidden-xs
            .dummy
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.hidden-xs
            .dummy
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.col-md-pull-8.col-sm-pull-0.hidden-xs
            .dummy
              a.thumbnail(href='#')
          .col-md-2.col-sm-1.col-xs-5.col-sm-pull-0.hidden-xs
            .dummy
              a.thumbnail(href='#')
      script(type='text/javascript', src='/static/javascript/frontend.js')